/* .multiple-choice{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
    display: none;
    opacity: 0;
    z-index: 1;
}
.multiple-choice .opciones{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 80%;
    height: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.multiple-choice .opciones .respuesta{
    background-color: white;
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #ffb236;
    margin: 10px;
    cursor: pointer;
    line-height: 1.2;
    padding: 5px;
} */