.contenedor{
    width: 100%;
    height: 100%;
    min-width: 300px;
    max-width: 1600px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
}
.logo{
    position: absolute;
    width: 20%;
    height: 8%;
    background-image: url("../assets/img/landing/horizontal/LogoNegro.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 3%;
    right: 1%;
    z-index: 2;
}
.title-contain{
    position: absolute;
    z-index: 1;
    width: 107%;
    height: 20%;
    background-image: url('../assets/img/landing/horizontal/triangulo.png');
    background-size: 100% 100%;
    left: -10px;
}
.title-contain .title{
    position: absolute;
    left: 4%;
    top: 4%;
    background-image: url("../assets/img/landing/horizontal/tituloHor.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 45%;
    height: 70%;
    z-index: 1;
}
.pleca .content .texto{
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 140px;
}
.pleca .content.terrestre .subtitle{order: 2;}
.pleca .content.acuatica .texto{background-image: url("../assets/img/landing/txt-acuaticas.png");}
.pleca .content.terrestre .texto{background-image: url("../assets/img/landing/txt-terrestres.png");}
.pleca .content.aereas .texto{background-image: url("../assets/img/landing/txt-aereas.png");}
.pleca .content .button{
    background-image: url("../assets/img/landing/btn-jugar.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 90px;
}
.pleca .content .button a{
    width: 100%;
    height: 100%;
}
.pleca .content .info {
    font-size: 12px;
    color: #fff;
    font-family: sans-serif;
}

.options {
    top: 5%;
    height: 95%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    position: absolute;
}

.barra {
    background-color: white;
    display: flex;
    position: relative;
    width: 130%;
    height: 30%;
    transform: rotate(20deg);
    background-position: 66% 61%;
    background-size: 240%;
    align-items: stretch;
    -webkit-box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 50%);
    box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 50%);
}
.barra:nth-child(even){
    right: 0%;
}
.barra .subBarra{
    width: 200%;
    height: 100%;
    display: flex;
    position: absolute;
    background-image: url("../assets/img/landing/horizontal/degradadoBarra.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: row;
}
.barra .subBarra .option{
    width: inherit;
    /* border: 1px solid red; */
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.barra .subBarra .option:nth-child(1){
    flex-grow: 2;
}
.barra .subBarra .option:nth-child(1) span {
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-image: url("../assets/img/landing/btn-triangulo-der.png");
    position: absolute;
    background-size: contain;
    left: 42%;
}
.barra.oceano{background-image: url("../assets/img/landing/horizontal/bg-oceano.png");background-position: 80%;}
.barra.terrestre{background-image: url("../assets/img/landing/horizontal/bg-bosque.png");background-position: 40%;}
.barra.aereas{background-image: url("../assets/img/landing/horizontal/bg-aerea.png");/*background-position: 10% 0;*/background-size: cover;}
.barra:nth-child(even) .subBarra{
    flex-direction: row-reverse;
    right: 0%;
    background-position: 190% 0px;
    background-image: url(../assets/img/landing/horizontal/degradadoBarra2.png);
}
.barra:nth-child(even) .subBarra .option{
    flex-direction: row-reverse;
}
.barra:nth-child(even) .subBarra .option:nth-child(1) span {
    background-image: url("../assets/img/landing/btn-triangulo-izq.png");
    left: 55%;
}
.barra .subBarra .option:nth-child(2){justify-content: right;}
.barra .subBarra .option:nth-child(3){justify-content: left;}
.barra:nth-child(2) .subBarra .option:nth-child(2){justify-content: left;}
.barra:nth-child(2) .subBarra .option:nth-child(3){justify-content: right;}
.barra .subBarra .option .contain{
    width: 60%;
    height: 50%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    position: relative;
    transform: rotate(-20deg);
}
.barra .subBarra .option .section{
    height: 100%;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    margin: 9px auto;
    width: 60%;
}
.barra.oceano .subBarra .option .section {
    background-image: url(../assets/img/landing/txt-acuaticas.png);
}
.barra.terrestre .subBarra .option .section {
    background-image: url(../assets/img/landing/txt-terrestres.png);
}
.barra.aereas .subBarra .option .section {
    background-image: url(../assets/img/landing/txt-aereas.png);
}
.barra .subBarra .option .button{
    height: 100%;
    background-image: url(../assets/img/landing/btn-jugar.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 45%;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
}
.barra .subBarra .option .text {
    color: #fff;
    text-align: center;
    font-family: sans-serif;
    font-size: 0.7rem;
    width: 100%;
    /* transform: rotate(-10deg); */
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.barra.oceano .subBarra .option .text{background-image: url('../assets/img/landing/InfoAcuaticas.png');}
.barra.terrestre .subBarra .option .text{background-image: url('../assets/img/landing/InfoTerrestres.png');}
.barra.aereas .subBarra .option .text{background-image: url('../assets/img/landing/InfoAereas.png');}
.barra .subBarra .option .button a {
    width: 100%;
    height: 100%;
}
@media (orientation: landscape) {
    body {
      /* background-color: red; */
    }
    .options{
        flex-direction: row;
        top: 0;
        height: 100%;
        width: 90%;
        left: 10%;
    }
    .title-contain {
        position: absolute;
        z-index: 1;
        width: 25%;
        height: 100%;
        background-image: url(../assets/img/landing/vertical/triangulo.png);
        background-size: 100% 100%;
        left: -10px;
    }
    .title-contain .title {
        position: absolute;
        left: 0%;
        bottom: 1%;
        top: auto;
        background-image: url(../assets/img/landing/vertical/titulo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 25% bottom;
        width: 100%;
        height: 45%;
        z-index: 1;
    }
    .logo {
        background-image: url(../assets/img/landing/vertical/logo.png);
        left: 10px;
    }
    .barra {
        width: 30%;
        height: 150%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 47% 50%;
    }

    .barra.oceano { background-image: url("../assets/img/landing/vertical/BaseOceanoVert.png");}
    .barra.terrestre { background-image: url(../assets/img/landing/vertical/BaseBosqueVert.png);}
    .barra.aereas { background-image: url(../assets/img/landing/vertical/BaseAereaVert.png);}

    .barra .subBarra .option:nth-child(1) span {
        transform: rotate(90deg);
        display: none;
    }
    .barra .subBarra {
        width: 100%;
        height: 200%;
        background-image: url(../assets/img/landing/vertical/degradadoBarra.png);
        flex-direction: column;
    }
    .barra:nth-child(even) .subBarra .option {
        flex-direction: column-reverse;
    }
    .barra:nth-child(even) .subBarra {
        flex-direction: column-reverse;
        right: 0%;
        top: -100%;
        background-position: 190% 0px;
        background-image: url(../assets/img/landing/vertical/degradadoBarra2.png);
    }
    .barra .subBarra .option {
        flex-direction: column;
    }
    .barra .subBarra .option {
        /* justify-content: center !important; */
    }
    .barra .subBarra .option .contain {
        width: 80%;
        height: 40%;
    }
    .barra:nth-child(odd) .subBarra .option:nth-child(2) {
        justify-content: flex-end;
    }
    .barra:nth-child(even) .subBarra .option:nth-child(3) {
        justify-content: flex-start;
    }
    .subBarra .option:nth-child(2) {
        justify-content: flex-end !important;
    }
}
  
@media (orientation: portrait) {
    body {
        /* background-color: blue; */
    }
}